fastapi
uvicorn

motor

pandas
scikit-learn
python-multipart
numpy
scipy
kagglehub
matplotlib
seaborn
python-dotenv
langchain-community
langchain_google_genai
langchain-chroma
transformers
pydantic
google-generativeai
